@import "tailwindcss";

:root {
  --background: #f9f6f1;
  --foreground: #5c4438;
  --accent: #a67c52;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2c2219;
    --foreground: #e6ddd3;
    --accent: #b29072;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans JP', Arial, sans-serif;
}